    <div class="jumbotron mt-4">
        <h1 class="display-4">Notas de Node App y MongoDB</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis provident molestiae nostrum autem amet expedita quo sed, in quidem, non praesentium labore, commodi saepe doloremque quis? Placeat optio ipsam adipisci</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatem tempore beatae quia aspernatur vel distinctio ad ducimus, quas animi.</p>
        <a href="https://www.enviosconamor.website" class="btn btn-success">EnviosconAmor</a>
        <a href="/notas/newnote" class="btn btn-primary">New Note</a>

    </div>