<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
<!-- ************** -->
    <li class="nav-item">
        <a class="nav-link active" href="/notas">Notes</a>
    </li>
 <!-- ************  -->
    <li class="nav-item">
        <a class="nav-link active" href="/about">About</a>
    </li>
 <!-- ************  -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">authentic</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">register</a>
        </div>
    </li>
 <!-- ************  -->
</ul>