<div class="row">
    <div class="col-md-4 mx-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Note</h4>
                <h6 class="card-subtitle mb-2 text-muted">edita reescribiendo</h6>
            </div>
            <div class="card-body">
                <form action="/notas/edit/{{editionsNote._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <input type="text" name="title" value="{{editionsNote.title}}" class="form-control" >
                    </div>
                    <div class="form-group">
                        <textarea name="description"  id="" cols="30" rows="10" class="form-control">{{editionsNote.description}}</textarea>
                    </div>
                    <button class="btn btn-btn-info btn-block" type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>